
@model Employee
<div class="text-center">
    <h1 class="display-4">Employee List</h1>
   
    <table>
        <thead>
          <tr>
            <th>Employee Id</th>
            <th>Name</th>
            <th>Id Number</th>
            <th>Age </th>
            <th>Department Id</th>
          </tr>
        </thead>
        <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td></td>
            </tr>
        }
        </tbody>
    </table>
    
</div>
